* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    box-sizing: border-box;
    outline: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    width: 500px;
    height: 590px;
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.form-container p{
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.5);
}

a{
    color: rgb(73, 73, 73);
    text-decoration: underline;
}

.form-container .inputs {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
}

.inputs .input-label {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: center;
}

.input-label input {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    margin-top: 5px;
}

.form-container button {
    padding: 10px 30px;
    width: 100%;
    background-color: teal;
    color: #fff;
    font-size: 16px;
    border: 1px solid teal;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.form-container h1{
    font-weight: 400;
    margin-bottom: 19px;
}

.form-container button:hover {
    background-color: #fff;
    color: teal;
}